body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6a6a6a;
}

header {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(105, 105, 105);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topic {
    display: block;
    margin: 10px 0;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.topic:hover {
    background-color: #45a049;
}

/* Additional Topic Styles */
.topic2 {
    background-color: #3498db; /* Change to the desired color */
    color: #ffffff; /* Change to the desired text color */
  }
  
  .topic3 {
    background-color: #4137aa; /* Change to the desired color */
    color: #ffffff; /* Change to the desired text color */
  }

  /* Logo Container Styles */
.logo-container {
    background-image: url('logo.png'); /* Replace 'logo.png' with your actual logo file name */
    background-size: contain; /* Adjust as needed (contain, cover, auto, etc.) */
    background-repeat: no-repeat;
    width: 200px; /* Adjust the width of the logo container */
    height: 200px; /* Adjust the height of the logo container */
  }
  
